<!DOCTYPE html>
html(lang="es")

    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ../public/bootstrap.min.css
        title Lista de Estudiantes

    body

        div(class="container")
            div(class="row")
                div(class="col-md-6 order-md-6 mb-2")
                    h3 Registro de Estudiantes
                    form(method="post" action="estudiantes/")
                        div(class="row")
                            div(class="col-md-6 mb-3")
                                label(for='firstName') Nombre
                                input#firstName.form-control(type='text' name='nombre' placeholder='' value='' required='')
                            div(class="col-md-6 mb-3")
                                label(for='firstName') edad
                                input#firstName.form-control(type='number' name='edad' placeholder='' value='' required='')

                            button.btn.btn-primary.btn-lg.btn-block(type='submit') Guardar

                div(class="col-md-6 order-md-6 mb-2")
                    div(class="container2")
                        h3 Lista de Estudiantes
                        table(class="table")
                            thead
                                th Nombre
                                th Edad
                                th Acciones
                            tbody
                                each estudiante in estudiantes
                                    tr
                                        td #{estudiante.nombre}
                                        td #{estudiante.edad}
                                        td 
                                            a(href='estudiantes/' + estudiante._id class="idstudent" ) 
                                                svg(width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
                                                    path(fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z")
                                                    path(fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z")
                                                    
                                            a(href='#' + estudiante._id onclick="deletestudent('"+estudiante._id+"')") 
                                                svg(width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z")
                                                    path(fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z")
    script
        include ../public/jquery.js
    script
        include ../public/script.js